:root {
  --white: #fff;
  --black: #000;
  --gray: rgba(209, 213, 219, 0.9);
  --blue: rgba(59, 130, 246, 0.9);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 100vh; */
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
